<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144504942026-6h6sbjdnrt4tlnglte2r40l14edrdoj1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144504942026-6h6sbjdnrt4tlnglte2r40l14edrdoj1</string>
	<key>API_KEY</key>
	<string>AIzaSyC7CI1jPgOKyrG_yrXiQwxc1OQLMD15CMs</string>
	<key>GCM_SENDER_ID</key>
	<string>144504942026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antk.ChatAppSwift</string>
	<key>PROJECT_ID</key>
	<string>chatappswift20210127</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappswift20210127.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144504942026:ios:c1aa9c444a4d44ae53b333</string>
</dict>
</plist>